body {
  height: auto;
  width: auto;
  overflow: auto;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  background-color: #023047;
}

h3 {
  margin: 0px;
  // display: none;
}

nav {
  border: 2px solid yellow;
  display: flex;
  align-items: flex-end;
}

.menu-pair {
  display: flex;
}

// Main Display
main {
  height: 80%;
  width: 100vw;
  background-color: #e7ecef;
  overflow: auto;
}

.events-board {
  display: grid;
  align-items: center;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
}

article {
  border: 2px solid blue;
  height: 450px;
  width: 320px;
}

// .event-header {
//   height: 130px;
//   background: url('https://images.unsplash.com/photo-1625927736288-cd25a8afec97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1251&q=80')
//     bottom;
//   background-size: cover;
//   background-repeat: no-repeat;
//   display: flex;
//   justify-content: space-between;
// }

// .circle {
//   height: 70px;
//   width: 70px;
//   border-radius: 50%;
//   background: #219ebc;
// }

// .icon {
//   height: 80%;
// }

@media screen and (min-width: 750px) {
  .events-board {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1020px) {
  .events-board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .events-board {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
